
body{
    margin: 0;
    padding: 0;
    background: url("pic/01.png") no-repeat fixed;
    background-size: 100% 100%;
    font-size: 100%;
    /* cursor: */
}

#hello{
    text-align: center;
    position: sticky;
    z-index: 1;
    text-shadow:0.1em 0.1em 0.1em red;
}

.message-form{
    text-align: center;
    width: 20em;
    margin: 10px auto;
    padding: 0;
    /* 0w0 */
}
/*
.form a:link {color: yellow; text-decoration: none;}
.form a:visited {color: red; text-decoration: none;}
.form a:hover {color: silver; text-decoration: none;}
.form a:active {color: yellow; text-decoration: none;}
*/

.message-input:focus {background-color: silver}
.message-input {
    background-color: white;
    cursor: auto;
    border: 1px solid #aaaaaa;
    display: inline-block;
    text-align: start;
    margin:2px 0;
    font: 15px Arial;
    height: 16px;
    line-height: 16px;
}
.message-input input, .message-input select{
    border: none;
    outline-style: none;
    background-color: white;
    height: 14px;
    font-size: 12px;
}
[name=name]{
    width: 10em;
}
.text-box{
    resize: none;
    overflow: hidden;
    text-indent: 2em;
    /* box-shadow: 10px 10px 5px #008080; */
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.talk-bubble {
    position: fixed;
    overflow: auto;
    right: 22em;
    bottom: 12em;
    width: 12em;
    height: 4em;
    background-color: #2E8B57;
}