
body{
    margin: 0;
    padding: 0;
    background: url("pic/01.png") no-repeat fixed;
    background-size: 100% 100%;
    font-size: 100%;
    /* cursor: */
}

#hello{
    text-align: center;
    position: sticky;
    z-index: 1;
    text-shadow:0.1em 0.1em 0.1em red;
}

.message-form{
    text-align: center;
    width: 20em;
    margin: 10px auto;
    padding: 0;
    /* 0w0 */
}
/*
.form a:link {color: yellow; text-decoration: none;}
.form a:visited {color: red; text-decoration: none;}
.form a:hover {color: silver; text-decoration: none;}
.form a:active {color: yellow; text-decoration: none;}
*/

.message-input,.message-email-input:focus {background-color: silver}
.message-input,.message-email-input {
    background-color: white;
    cursor: auto;
    border: 1px solid #aaaaaa;
    display: inline-block;
    text-align: start;
    margin:2px 0;
    font: 16px Arial;
    height: 20px;
    line-height: 20px;
}
.message-input input,.message-email-input input{
    border: none;
    outline-style: none;
    background-color: white;
    height: 16px;
    line-height: 16px;
    font-size: 14px;
    width: 10em;
    vertical-align: center;
}
input:-webkit-autofill { box-shadow: 0 0 0 1000px white inset;} /* 自动填充背景为白色 */
.message-input select{
    border: none;
    outline-style: none;
    background-color: white;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    vertical-align: center;
}
.text-box{
    resize: none;
    overflow: hidden;
    text-indent: 2em;
    /* box-shadow: 10px 10px 5px #008080; */
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.message-email-input {position: relative;}
.email-list {
    position: absolute;
    display: none;
    min-width: 8em;
    padding: 0.1em 0.2em;
    left: 2em;
    background-color: silver;
    box-shadow: 0 0.5em 1em 0 rgba(0,0,0,0.2);
    visibility: hidden;
    clear: both;
    z-index: 9999;
}
.message-email-input p{
    margin: 0.05em 0;
    padding: 0 0.5em;
    border: none;
    color: black;
    font-size: 0.8em;
    overflow-x: hidden;
    overflow-y: hidden;
}
/* .message-email-input p::-webkit-scrollbar {display: none;} webkit内核滚动条去除 */
.message-email-input .email-list {
    display: block;
}
.message-email-input p:hover{
    background-color: yellow;
    cursor: pointer;
}
.message-email-input p:checked{

}